@model Model.EF.Content
@{
    var contentcategory = (Model.EF.ContentCategory)ViewBag.ContentCategory;
    ViewBag.Title = contentcategory.Name;
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Listcontent = (List<Model.EF.Content>)ViewBag.Content;
}
<div class="container">
    <div class="sb-breadcrumbs breadcrumb-bg ">
        <div class="entry-header">
            <h3 class="entry-title">
                @Model.Name
            </h3>
            <ul class="breadcrumb ">
                <li class="breadcrumb-item ">
                    <i class="fa fa-home"></i>
                    <a href="/" class="breadcrumb-label">
                        Trang Chủ
                    </a>
                </li>

                <li class="breadcrumb-item ">
                    <a href="/bai-viet/@contentcategory.MetaTitle-@contentcategory.ID" class="breadcrumb-label">
                        @contentcategory.Name
                    </a>
                </li>

                <li class="breadcrumb-item is-active">
                    <a href="/chi-tiet-bai-viet/@Model.MetaTitle-@Model.ID" class="breadcrumb-label">
                        @Model.Name
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
    <a href="#" class="modal-close" aria-label="Close" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

<div class="main-body clearfix sidebar--left">



    <main class="container page--blog--detail article--default">
        <div class="row ">
            <div class="col-lg-9 col-md-12 page-content">
                <div class="sidebar-overlay"></div>
                <a href="javascript:void(0)" class="open-sidebar d-md-block d-lg-none"><i class="fa fa-bars"></i> Sidebar </a>

                <article class="blog-post">
                    <div class="blog-post-figure">
                        <figure class="blog-thumbnail">
                            <a>
                                <img class="card-image lazyload" data-sizes="auto" src="@Model.Image" style="width:50%;height:50%" alt="Proin dictum justo a nisl." title="@Model.Name">
                            </a>
                        </figure>
                    </div>

                    <div class="blog-header">
                        <div class="blog-meta">
                            <span class="post-date-time" title="@Model.CreateDate.">
                                @if (Model.CreateDate != null)
                                {
                                    <span>@Model.CreateDate.Value.Day</span>

                                    @Model.CreateDate.Value.ToString("MMM/yyyy")

                                }
                            </span>

                        </div>

                        <h2 class="blog-title">
                            @Model.Name
                        </h2>
                    </div>

                    <div class="blog-post-body">
                        <div class="blog-post-desc">
                            @Html.Raw(Model.Detail)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="excerpt-meta clearfix">
                        <div class="meta meta-author">
                            <label class="label">Đăng bởi <a href="#">@Model.CreateBy</a></label>

                        </div>

                        <div class="meta meta-sharing">
                            <label class="label">Chia sẽ</label>
                            <div class="addthis_toolbox addthis_32x32_style" addthis:url=""
                                 addthis:title="">
                                <ul class="socialLinks">
                                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                </ul>
                                <script type="text/javascript"
                                        src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e94ed470ee51e32"></script>
                                <script>
                                    if (typeof (addthis) === "object") {
                                        addthis.toolbox('.addthis_toolbox');
                                    }
                                </script>
                            </div>
                        </div>

                    </div>
                </article>

            </div>

            <aside class="col-lg-3 page-sidebar sidebar-offcanvas">

                <div class="sidebarBlock">
                    <span id="close-sidebar" class="fa fa-times"></span>
                    <!-- BEGIN Side All Categories -->
                    <!-- BEGIN Side All Categories -->
              
                    <div class="module block-recent">
            <h5 class="block-title">Recent Posts</h5>

            <div class="block-content">
                <ul class="blogRecent">
                    @foreach (var item in Listcontent)
                    {
                        var url = "/chi-tiet-bai-viet/" + item.MetaTitle + "-" + item.ID;
                    <li class="blogRecent--item">
                        <div class="blog-post-figure">
                            <figure class="blog-thumbnail">
                                <a href="@url">
                                    <img class="card-image lazyload" data-sizes="auto" src="@item.Image"  alt="Proin dictum justo a nisl." title="@item.Name">
                                </a>
                            </figure>
                        </div>
                        <div class="blog-header">
                            <h4 class="blog-title">
                                <a href="@url">@item.Name</a>
                            </h4>
                            <div class="blog-meta">
                                <span class="blog-date"><i class="fa fa-calendar-o"></i> @item.CreateDate.Value.ToString("dd/MM/yyyy")  </span>
                            </div>
                        </div>



                    </li>
                    }

                </ul>
            </div>
        </div>





                </div>

        </div>
</div>

