@model Model.EF.Content

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}


@section header{Thêm mới tin tức}
@section jsFooter{


    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/Admin/ckeditor/config.js',
        });</script>}


@using (Html.BeginForm("Create", "Content", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TopHot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TopHot, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TopHot, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViewCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViewCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ViewCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>
        </div>

       *@





    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="simpleinput">Tên</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Tiêu đề bài viết" autofocus autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="example-email">MetaTitle</label>
                        <div class="col-sm-10">
                            <input type="text" id="MetaTitle" name="MetaTitle" class="form-control" placeholder="Title" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="example-password">Mô tả</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Description" name="Description" placeholder="Mô tả" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Image, "Ảnh", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @id = "txtImage", @autocomple = "off" }, id = "txtImage" })

                            <a id="btnSelectImage" href="#">Chọn ảnh</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="example-textarea">Chi Tiết</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="txtContent" name="Detail" @*rows="5"*@></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Đăng bởi</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="CreateBy" name="CreateBy" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">TopHot</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="TopHot" name="TopHot">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">ViewCount</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="TopHot" id="TopHot" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tags</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="Tags" id="Tags" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Content_Category_ID, "Danh mục", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Content_Category_ID, null, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Content_Category_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Tạo" class="btn btn-primary" />
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Quay lại", "Index")
                </div>
            </div> <!-- end card-box -->
        </div><!-- end col -->
    </div>
}