@model Model.EF.Footer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header { Chỉnh sửa Footer}
@section jsFooter{}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            @using (Html.BeginForm("Edit", "Footer", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="simpleinput">Text</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Text..." autofocus autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="example-email">Link</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="Link" name="Link" class="form-control" placeholder="Link..." autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="example-password">DisplayOrder</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="example-password">ParentID</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.ParentID, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Sửa" class="btn btn-purple waves-effect waves-light" />
                                </div>
                            </div>
                            <div>
                                @Html.ActionLink("Quay lại", "Index")
                            </div>
                        </div> <!-- end card-box -->
                    </div><!-- end col -->
                </div>
            }
        </div>
    </div>
</div>