@model PagedList.IPagedList<Model.EF.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "QL bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{ Danh sách đơn hàng}
@section jsFooter{
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="responsive-table-plugin">
                <div class="table-rep-plugin">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th data-priority="0">Mã đơn hàng</th>
                                    <th data-priority="1">Tên</th>
                                    <th data-priority="2">Điện thoại</th>
                                    <th data-priority="3">Email</th>
                                    <th data-priority="4">Địa chỉ</th>
                                    <th data-priority="5">Ngày đặt hàng</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.ID
                                        </td>
                                        <td>
                                            @item.ShipName
                                        </td>
                                        <td>@item.ShipMobile</td>
                                        <td>@item.ShipEmail</td>
                                        <td>@item.ShipAddress</td>
                                        <td>@item.CreateDate</td>
                                        <td>
                                            <a href="~/Admin/Footer/Detail/@item.ID" class="btn btn-purple waves-effect waves-light" style="width:45px" title="Sửa"><i class="icon-pencil"></i></a>

                                            <script>$("#myActionLinkId").prepend("<i class='fa fa-trash-o text-danger'></i> ");</script>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pagination">
                            <ul class="pagination-list">

                                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @class = "pagination-link" }), PagedListRenderOptions.PageNumbersOnly)

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
