@model PagedList.IPagedList<Model.EF.Brand>
@using PagedList.Mvc;

    @{
        /**/

        ViewBag.Title = "Index";
        Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
    }
    @section header{ Danh sách thương hiệu}
    @section jsFooter{
        <script>
            $('#btnSelectImage').on('click', function (e) {
                e.preventDefault();
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#txtImage').var(url);
                };
                finder.popup();
            })
        </script>
    }
    <div class="row">
        <div class="col-12">

            <div class="card-box">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Users">Danh sách</a></li>
                    <li class="nav-item">@Html.ActionLink("Thêm mới", "Create", null, new { @class = "nav-link" })</li>
                </ul>

                <div class="tab-content mt-0">
                    <div class="tab-pane active show" id="Users">
                        <div class="table-responsive">
                         
                            <table class="table table-hover table-custom spacing8">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Tên</th>
                                        <th>Link</th>
                                        <th class="w60">Trạng Thái</th>
                                        <th>Ngày Tạo</th>
                                        <th>Danh mục</th>

                                        <th class="w100">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="@item.Image" style="width:75px;height:45px" /></td>
                                            <td>
                                                <h5 class="mb-0" autocomplete="off">@item.Name</h5>
                                                <span autocomplete="off">@item.MetaTitle</span>
                                            </td>
                                            <td>@item.Link</td>
                                            <td>
                                                @item.Status
                                            </td>
                                            <td>@item.CreateDate</td>
                                            <td>@item.Category_ID</td>
                                            <td>
                                                <a href="~/Admin/Brand/Edit/@item.ID" class="btn btn-purple waves-effect waves-light" title="Edit"><i class="icon-pencil"></i></a>
                                                <a href="~/Admin/Brand/Detail/@item.ID" class="btn btn-purple waves-effect waves-light" title="Edit"><i class="far fa-sticky-note"></i></a>
                                                @*<button type="button" class="btn btn-sm btn-default js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>*@
                                                @Ajax.ActionLink("Xoá", "Delete",null, new { @id = item.ID }, new AjaxOptions
                                           {
                                               Confirm = "Bạn chắc chắn muốn xóa ?",
                                               OnComplete = "$('#row_" + @item.ID + "').remove()",
                                               HttpMethod = "Delete",
                                           }, new {
                                               @class = "btn btn-purple waves-effect waves-light",
                                               @id = "myActionLinkId" })
                                                <script>$("#myActionLinkId").prepend("<i class='fa fa-trash-o text-danger'></i> ");</script>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="pagination">
                                <ul class="pagination-list">

                                    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @class = "pagination-link" }), PagedListRenderOptions.PageNumbersOnly)

                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="addUser">
                        <div class="body mt-2">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name *">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email ID *">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Mobile No">
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Employee ID *">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username *">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <select class="form-control show-tick">
                                            <option>Select Role Type</option>
                                            <option>Super Admin</option>
                                            <option>Admin</option>
                                            <option>Employee</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h6>Module Permission</h6>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Read</th>
                                                    <th>Write</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Super Admin</td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox" checked="">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox" checked="">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox" checked="">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Admin</td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox" checked="">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox" checked="">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Employee</td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox" checked="">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>HR Admin</td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox" checked="">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox" checked="">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <label class="fancy-checkbox">
                                                            <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                            <span></span>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <button type="button" class="btn btn-primary">Add</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>